<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='wwlogo.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winter Watch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VP57NNFH67"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VP57NNFH67');
    </script>
</head>
<body>
    <header>
        <h1>Winter Watch</h1>
    </header>
    <main>
        <form id="search-form">
            <div class="search">
                <span class="search-icon material-symbols-outlined">search</span>
                <input class="search-input" type="search" id="location-input" placeholder="Search">
            </div>
        </form>
        <div class="map-and-info">
            <section id="map">
                <!-- Map will be displayed here -->
            </section>
            <div id="standard-info">
                <h2><u>Standard Information</u></h2>
                <p>Location: <span id="location-value"></span></p>
                <p>Temperature: <span id="temperature-value"></span>°C</p>
                <p>Longitude: <span id="display-lon"></span></p>
                <p>Latitude: <span id="display-lat"></span></p>
                <p>Time: <span id="time-value"></span></p>
                <p>Date: <span id="date-value"></span></p>
                <p>Current Weather: <span id="weather-value"></span></p>
            </div>
        </div>
        <div id="safety-title">
        <h2><u>Safety Information</u></h2>
        </div>
        <div id="safety-features">
            <div class="feature"><span id="safety-score"></span></div>
            <div class="feature"><span id="frostbite-risk"></span></div>
            <div class="feature">UV Index: <span id="uv-index-value"></span></div>
            <div class="feature">Visibility: <span id="visibility-rating-value"></span> meters</div>
            <div class="feature">Ice Warning: <span id="ice-warning-value"></span></div>
            <div class="feature">Last Snow: <span id="last-snow-value"></span></div>
        </div>        
    </main>
    <footer>
        <p> Created by Ethan Cratchley</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCncA262n0dyKHUjPrH0aeOfRCOym1yqH0&callback=initMap">
</script>
</body>
</html>

